openapi: 3.0.0
servers:
  - url: 'http://blockchain.zeuslab.it/v1'
info:
  description: >-
    API di interrogazione della blockchain di Zeus
  version: 1.0.0
  title: Piano B
  termsOfService: 'http://swagger.io/terms/'
  contact: 
    email: sticazzi@zeuslab.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: consumer
  - name: produttore
paths:
  '/operazioni/{idOperazionePrecedente}/append':
    post:
      tags:
         - produttore
      summary: Aggiunge una nuova operazione subito dopo l'operazione specificata
      responses:
        '200':
          description: Id numerico della nuova operazione aggiunta alla blockchain
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NuovaOperazione'
      parameters:
        - name: idOperazionePrecedente
          in: path
          description: Id numerico dell'operazione a cui agganciare l'operazione fornita
          required: true
          schema:
            type: string
          
  /articoli:
    get:
      tags:
        - produttore
      summary: Ritorna la lista degli idArticolo e descrizioni gestiti dalla blockchain
      responses:
        '200':
           description: Lista degli articoli supportati, con i lotti già precedentemente inseriti
           content:
             application/json:
               schema:
                 type: array
                 items:
                   $ref: '#/components/schemas/Articolo'
          
  /blockchain:
    get:
       tags:
         - consumer
         - produttore 
       summary: Ritorna tutte le blockchain che interessano la merce identificata dai parametri di query
       parameters:
         - name: idArticolo
           in: query
           required: true
           schema:
             type: string
         - name: idPuntoVendita
           in: query
           schema:
             type: string
         - name: lotto
           in: query
           schema:
             type: string
       responses:
         '200':
           description: Operazione registrata correttamente
           content:
             application/json: 
               schema: 
                 type: array
                 items: 
                   $ref: '#/components/schemas/Blockchain'
    post:
        tags:
           - produttore
        summary: Inizia una nuova blockchain associata ad un articolo e lotto
        parameters:
         - name: idArticolo
           in: query
           required: true
           schema:
             type: string
         - name: lotto
           in: query
           required: true
           schema:
             type: string
        responses:
          '200':
            description: Id numerico della nuova operazione aggiunta alla blockchain
            content:
              application/json:
                schema:
                  type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operazione'                
components:
  schemas:
    Articolo:
      type: object
      properties:
        idArticolo:
          type: string
        descrizione:
          type: string
        lottiEsistenti:
          type: array
          items: 
            type: string
    NuovaOperazione:
      type: object
      required:
        - natura
        - operatore
        - descrizione
      properties:
        descrizione:
          type: string
          description: Informazioni inserite dall'operatore riguardo all'operazione eseguita
        operatore:
          type: string
          description: Nome dell'operatore che ha eseguito l'operazione
        natura:
          type: string
          description: Natura dell'operazione eseguita (es. "semina")    
    Operazione:
      type: object
      required:
        - id
        - natura
        - operatore
        - descrizione
      properties:
        id:
          type: string
          format: byte
        idOperazionePrecedente:
          type: string
          nullable: true
          format: byte
          description: Hash dell'operazione precedente nella blockchain di appartenenaz
        descrizione:
          type: string
          description: Informazioni inserite dall'operatore riguardo all'operazione eseguita
        operatore:
          type: string
          description: Nome dell'operatore che ha eseguito l'operazione
        natura:
          type: string
          description: Natura dell'operazione eseguita (es. "semina")
    Blockchain:
      type: object
      properties:
        idArticolo:
           type: string
        idLotto:
           type: string
        operazione:
           type: array
           items:
              $ref: '#/components/schemas/Operazione'
           